*/bin/*
*/obj/*
*.bin
*.dat
*.s19
*.cache
!*.gitkeep
.settings/
DataStoreTest/Src/C#/Level_0A/Level_0A.v11.suo
DataStoreTest/Src/C#/Level_0A/Level_0A/obj
DataStoreTest/Src/C#/Level_0A/Level_0A/bin/Debug/*
DataStoreTest/Src/C#/Level_0A/Level_0A/bin/Release/*
DataStoreTest/Src/C#/Level_0A/Level_0A/TinyCLR_DebugReferences.cache
DataStoreTest/Src/C#/Level_0B/Level_0B.v11.suo
DataStoreTest/Src/C#/Level_0B/Level_0B/obj
DataStoreTest/Src/C#/Level_0B/Level_0B/bin/Debug/*
DataStoreTest/Src/C#/Level_0C/Level_0C.v11.suo
DataStoreTest/Src/C#/Level_0C/Level_0C/obj
DataStoreTest/Src/C#/Level_0C/Level_0C/bin/Debug/*
DataStoreTest/Src/C#/Level_0D/Level_0D.v11.suo
DataStoreTest/Src/C#/Level_0D/Level_0D/obj
DataStoreTest/Src/C#/Level_0D/Level_0D/Level_0D.csproj.user
DataStoreTest/Src/C#/Level_0D/Level_0D/bin/Debug/*
DataStoreTest/Src/C#/Level_0D/Level_0D/bin/Debug/Microsoft*
DataStoreTest/Src/C#/Level_0D/Level_0D/bin/Debug/Microsoft.SPOT.Hardware.SerialPort.dll
DataStoreTest/Src/C#/Level_0D/Level_0D/bin/Debug/Microsoft.SPOT.Hardware.SerialPort.pdb
DataStoreTest/Src/C#/Level_0D/Level_0D/bin/Debug/Microsoft.SPOT.Hardware.dll
DataStoreTest/Src/C#/Level_0D/Level_0D/bin/Debug/Microsoft.SPOT.Hardware.pdb
DataStoreTest/Src/C#/Level_0D/Level_0D/bin/Debug/Microsoft.SPOT.Native.dll
DataStoreTest/Src/C#/Level_0D/Level_0D/bin/Debug/Microsoft.SPOT.Native.pdb
DataStoreTest/Src/C#/Level_0E/Level_0E.v11.suo
DataStoreTest/Src/C#/Level_0E/Level_0E/obj
DataStoreTest/Src/C#/Level_0E/Level_0E/bin/Debug/*
DataStoreTest/Src/C#/Level_0F/Level_0F.v11.suo
DataStoreTest/Src/C#/Level_0F/Level_0F/obj
DataStoreTest/Src/C#/Level_0F/Level_0F/bin/Debug/*
DataStoreTest/Src/C#/Level_0G/Level_0G.v11.suo
DataStoreTest/Src/C#/Level_0G/Level_0G/obj
DataStoreTest/Src/C#/Level_0G/Level_0G/bin/Debug/*
DataStoreTest/Src/C#/Level_0H/Level_0H.v11.suo
DataStoreTest/Src/C#/Level_0H/Level_0H/obj
DataStoreTest/Src/C#/Level_0H/Level_0H/bin/Debug/*
DataStoreTest/Src/C#/Level_0J/Level_0J.v11.suo
DataStoreTest/Src/C#/Level_0J/Level_0J/obj
DataStoreTest/Src/C#/Level_0J/Level_0J/bin/Debug/*
DataStoreTest/Src/C#/Level_0K/Level_0K.v11.suo
DataStoreTest/Src/C#/Level_0K/Level_0K/obj
DataStoreTest/Src/C#/Level_0K/Level_0K/bin/Debug/*
DataStoreTest/Src/C#/Level_1A/Level_1A.v11.suo
DataStoreTest/Src/C#/Level_1A/Level_1A/obj
DataStoreTest/Src/C#/Level_1A/Level_1A/bin/Debug/*
DataStoreTest/Src/C#/Level_1B/Level_1B.v11.suo
DataStoreTest/Src/C#/Level_1B/Level_1B/obj
DataStoreTest/Src/C#/Level_1B/Level_1B/bin/Debug/*
DataStoreTest/Src/C#/Level_1C/Level_1C.v11.suo
DataStoreTest/Src/C#/Level_1C/Level_1C/obj
DataStoreTest/Src/C#/Level_1C/Level_1C/bin/Debug/*
DataStoreTest/Src/C#/Level_1D/Level_1D.v11.suo
DataStoreTest/Src/C#/Level_1D/Level_1D/obj
DataStoreTest/Src/C#/Level_1D/Level_1D/bin/Debug/*
DataStoreTest/Src/C#/Level_1E/Level_1E.v11.suo
DataStoreTest/Src/C#/Level_1E/Level_1E/obj
DataStoreTest/Src/C#/Level_1E/Level_1E/bin/Debug/*
DataStoreTest/Src/C#/Level_1F/Level_1F.v11.suo
DataStoreTest/Src/C#/Level_1F/Level_1F/obj
DataStoreTest/Src/C#/Level_1F/Level_1F/bin/Debug/*
DataStoreTest/Src/C#/Level_1G/Level_1G.v11.suo
DataStoreTest/Src/C#/Level_1G/Level_1G/obj
DataStoreTest/Src/C#/Level_1G/Level_1G/bin/Debug/*
DataStoreTest/Src/C#/Level_1H/Level_1H.v11.suo
DataStoreTest/Src/C#/Level_1H/Level_1H/obj
DataStoreTest/Src/C#/Level_1H/Level_1H/bin/Debug/*
DataStoreTest/Src/C#/Level_2A/Level_2A.v11.suo
DataStoreTest/Src/C#/Level_2A/Level_2A/obj
DataStoreTest/Src/C#/Level_2A/Level_2A/bin/Debug/*
DataStoreTest/Src/C#/Level_2B/Level_2B.v11.suo
DataStoreTest/Src/C#/Level_2B/Level_2B/obj
DataStoreTest/Src/C#/Level_2B/Level_2B/bin/Debug/*
DataStoreTest/Src/C#/Level_2C/Level_2C.v11.suo
DataStoreTest/Src/C#/Level_2C/Level_2C/obj
DataStoreTest/Src/C#/Level_2C/Level_2C/bin/Debug/*
DataStoreTest/Src/C#/Level_3A/Level_3A.v11.suo
DataStoreTest/Src/C#/Level_3A/Level_3A/obj
DataStoreTest/Src/C#/Level_3A/Level_3A/bin/Debug/*
DataStoreTest/Src/C#/Level_3B/Level_3B.v11.suo
DataStoreTest/Src/C#/Level_3B/Level_3B/obj
DataStoreTest/Src/C#/Level_3B/Level_3B/bin/Debug/*
DataStoreTest/Src/C#/Level_3C/Level_3C.v11.suo
DataStoreTest/Src/C#/Level_3C/Level_3C/obj
DataStoreTest/Src/C#/Level_3C/Level_3C/bin/Debug/*
DataStoreTest/Src/C#/Level_4A/Level_4A.v11.suo
DataStoreTest/Src/C#/Level_4A/Level_4A/obj
DataStoreTest/Src/C#/Level_4A/Level_4A/bin/Debug/*
DataStoreTest/Src/C#/Level_4A/Level_4A/bin/Debug/be/*
DataStoreTest/Src/C#/Level_4A/Level_4A/bin/Debug/le/*
DataStoreTest/Src/C#/Level_4A/Level_4A/bin/Debug/Level_4A.exe
DataStoreTest/Src/C#/Level_4A/Level_4A/bin/Debug/Level_4A.pdb
DataStoreTest/Src/C#/Level_4A/Level_4A/bin/Debug/be/Level_4A.exe
DataStoreTest/Src/C#/Level_4A/Level_4A/bin/Debug/be/Level_4A.pdb
DataStoreTest/Src/C#/Level_4A/Level_4A/bin/Debug/be/Level_4A.pdbx
DataStoreTest/Src/C#/Level_4A/Level_4A/bin/Debug/be/Level_4A.pe
DataStoreTest/Src/C#/Level_4A/Level_4A/bin/Debug/le/Level_4A.exe
DataStoreTest/Src/C#/Level_4A/Level_4A/bin/Debug/le/Level_4A.pdb
DataStoreTest/Src/C#/Level_4A/Level_4A/bin/Debug/le/Level_4A.pdbx
DataStoreTest/Src/C#/Level_4A/Level_4A/bin/Debug/le/Level_4A.pe
DataStoreTest/Src/C#/Level_4B/Level_4B.v11.suo
DataStoreTest/Src/C#/Level_4B/Level_4B/obj
DataStoreTest/Src/C#/Level_4B/Level_4B/bin/Debug/*
DataStoreTest/Src/C#/Level_4C/Level_4C.v11.suo
DataStoreTest/Src/C#/Level_4C/Level_4C/obj
DataStoreTest/Src/C#/Level_4C/Level_4C/bin/Debug/*
DataStoreTest/Src/C#/Level_4D/Level_4D.v11.suo
DataStoreTest/Src/C#/Level_4D/Level_4D/obj
DataStoreTest/Src/C#/Level_4D/Level_4D/bin/Debug/*
DataStoreTest/Src/C#/Level_4E/Level_4E.v11.suo
DataStoreTest/Src/C#/Level_4E/Level_4E/obj
DataStoreTest/Src/C#/Level_4E/Level_4E/bin/Debug/*
DataStoreTest/Src/C#/Level_4F/Level_4F.v11.suo
DataStoreTest/Src/C#/Level_4F/Level_4F/obj
DataStoreTest/Src/C#/Level_4F/Level_4F/bin/Debug/*
DataStoreTest/Src/C#/Level_5A/Level_5A.v11.suo
DataStoreTest/Src/C#/Level_5A/Level_5A/obj
DataStoreTest/Src/C#/Level_5A/Level_5A/bin/Debug/*
DataStoreTest/Src/C#/Level_5A/Level_5A/bin/Debug/be/*
DataStoreTest/Src/C#/Level_5A/Level_5A/bin/Debug/le/*
DataStoreTest/Src/C#/SimpleCompleteAppNote/SimpleCompleteAppNote.v11.suo
DataStoreTest/Src/C#/SimpleCompleteAppNote/SimpleCompleteAppNote/obj
DataStoreTest/Src/C#/SimpleCompleteAppNote/SimpleCompleteAppNote/bin/Debug/*
DataStoreTest/Src/C#/TestInit/TestInit.v11.suo
DataStoreTest/Src/C#/TestInit/TestInit/obj
DataStoreTest/Src/C#/TestInit/TestInit/bin/Debug/*
csmaMACTest/Src/C#/DiscoveryTesting/Discovery/Discovery.v11.suo
csmaMACTest/Src/C#/DiscoveryTesting/Discovery/Discovery/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
csmaMACTest/Src/C#/DiscoveryTesting/Discovery/Discovery/obj/Debug/TinyCLR_DebugReferences.cache
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest.v11.suo
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/bin/Debug/Samraksh_SPOT_Net.dll
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/bin/Debug/Samraksh_SPOT_Net.pdb
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/bin/Debug/Samraksh_SPOT_Net.xml
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/bin/Debug/be/Samraksh_SPOT_Net.pdbx
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/bin/Debug/be/Samraksh_SPOT_Net.pe
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/bin/Debug/be/csmaMACTest.exe
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/bin/Debug/be/csmaMACTest.pdb
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/bin/Debug/be/csmaMACTest.pdbx
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/bin/Debug/be/csmaMACTest.pe
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/bin/Debug/csmaMACTest.exe
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/bin/Debug/csmaMACTest.pdb
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/bin/Debug/le/Samraksh_SPOT_Net.pdbx
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/bin/Debug/le/Samraksh_SPOT_Net.pe
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/bin/Debug/le/csmaMACTest.exe
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/bin/Debug/le/csmaMACTest.pdb
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/bin/Debug/le/csmaMACTest.pdbx
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/bin/Debug/le/csmaMACTest.pe
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/csmaMACTestMaster.csproj.user
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/obj/Debug/TinyCLR_DebugReferences.cache
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/obj/Debug/TinyResGen.cache
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/obj/Debug/be/csmaMACTest.pdbx
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/obj/Debug/be/csmaMACTest.pe
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/obj/Debug/csmaMACTest.exe
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/obj/Debug/csmaMACTest.pdb
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/obj/Debug/csmaMACTestMaster.csproj.FileListAbsolute.txt
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/obj/Debug/csmaMACTestMaster.csproj.GenerateResource.Cache
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/obj/Debug/csmaMACTestMaster.csprojResolveAssemblyReference.cache
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/obj/Debug/le/csmaMACTest.pdbx
csmaMACTest/Src/C#/Manual/Level_0/csmaMACTest/csmaMACTest/obj/Debug/le/csmaMACTest.pe
csmaMACTest/Src/C#/Manual/Level_1/csmaMACTest/csmaMACTest.v11.suo
csmaMACTest/Src/C#/Manual/Level_1/csmaMACTest/csmaMACTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
csmaMACTest/Src/C#/Manual/Level_1/csmaMACTest/csmaMACTest/obj/Debug/TinyCLR_DebugReferences.cache
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/bin/Debug/Samraksh_SPOT_Net.dll
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/bin/Debug/Samraksh_SPOT_Net.pdb
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/bin/Debug/Samraksh_SPOT_Net.xml
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/bin/Debug/be/Samraksh_SPOT_Net.pdbx
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/bin/Debug/be/Samraksh_SPOT_Net.pe
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/bin/Debug/be/csmaMACTestSlave.exe
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/bin/Debug/be/csmaMACTestSlave.pdb
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/bin/Debug/be/csmaMACTestSlave.pdbx
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/bin/Debug/be/csmaMACTestSlave.pe
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/bin/Debug/csmaMACTestSlave.exe
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/bin/Debug/csmaMACTestSlave.pdb
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/bin/Debug/le/Samraksh_SPOT_Net.pdbx
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/bin/Debug/le/Samraksh_SPOT_Net.pe
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/bin/Debug/le/csmaMACTestSlave.exe
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/bin/Debug/le/csmaMACTestSlave.pdb
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/bin/Debug/le/csmaMACTestSlave.pdbx
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/bin/Debug/le/csmaMACTestSlave.pe
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/csmaMACTestSlave.csproj.user
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/obj/Debug/TinyCLR_DebugReferences.cache
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/obj/Debug/TinyResGen.cache
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/obj/Debug/be/csmaMACTestSlave.pdbx
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/obj/Debug/be/csmaMACTestSlave.pe
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/obj/Debug/csmaMACTestSlave.csproj.FileListAbsolute.txt
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/obj/Debug/csmaMACTestSlave.csproj.GenerateResource.Cache
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/obj/Debug/csmaMACTestSlave.csprojResolveAssemblyReference.cache
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/obj/Debug/csmaMACTestSlave.exe
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/obj/Debug/csmaMACTestSlave.pdb
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/obj/Debug/le/csmaMACTestSlave.pdbx
csmaMACTest/Src/C#/Manual/csmaMACTestSlave/csmaMACTestSlave/obj/Debug/le/csmaMACTestSlave.pe
csmaMACTest/Src/C#/PacketLossTest/PacketLossTest.v11.suo
csmaMACTest/Src/C#/PacketLossTest/PacketLossTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
csmaMACTest/Src/C#/PacketLossTest/PacketLossTest/obj/Debug/TinyCLR_DebugReferences.cache
csmaMACTest/Src/C#/TestRig/csmaMACTest/csmaMACTest.v11.suo
*.suo